@import "tailwindcss";

:root {
  font-family: var(--font-gmarketSans);
}

/* Tailwind 테마 변수 */
@theme {
  --color-primary: #163300;
  --color-secondary: #9fe870;
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --color-border: #e0e0e0;
}
